@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    vertical-align: top;
}

button{
    cursor: pointer;
}

body{
    background-color: #fff;
    color: #333;
}

.container{
    height: 700px;
    position: relative;
}

header,
.image-slide,
.content-wrap,
footer{
    width: 1200px;
    margin: auto;
}

.header-wrap{
    height: 100px;
    background-color: rgb(231, 231, 235);
}

header{
    height: 100px;
    position: relative;
}

.logo{
    position: absolute;
    width: 200px;
    height: 40px;
    top: 30px;
    left: 0;
}   

nav{
    position: absolute;
    top: 59px;
    right: 0;
    z-index: 10;
}

nav>ul{
    display: flex;
}

.main-menu>a{
    display: block;
    width: 180px;
    padding: 10px;
    text-align: center;
    color: #333;
    background-color: rgba(238, 238, 203, 0.712);
}

.main-menu:hover>a{
    background-color: rgba(226, 209, 188, 0.733);
    color: #fff;
}

.sub-menu{
    display: none;
}

.sub-menu a{
    display: block;
    width: 180px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-color: rgba(223, 170, 106, 0.733);
}

.sub-menu a:hover{
    background-color: rgba(206, 172, 100, 0.815);
}

.image-slide{
    height: 300px;
    overflow: hidden;
}

.image-slide>ul{
    display: flex;
    width: 3600px;
    height: 100%;
}

.image-slide li{
    position: relative;
    width: 1200px;
    height: 100%;
}

.image-slide a{
    display: block;
    width: 100%;
    height: 100%;
}

.image-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slide h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 50px;
    border-radius: 50px;
    color: #fff;
    background-color: rgba(231, 231, 235, 0.342);
    font-size: 20px;
}

.content-wrap{
    display: flex;
    height: 200px;
}

.content-wrap>article{
    width: 400px;
}

.notice-gallery{
    position: relative;
}

.notice-gallery>ul{
    display: flex;
}

.notice>h2, .gallery>h2{
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #333;
}

.gallery ul{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}


.gallery img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #fff;
}


.tab-content{
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 47px);
    display: none;
    padding: 10px 15px;
    background-color:  rgb(231, 231, 235);
    font-size: 14px;
}

.notice>.tab-content a{
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    border-bottom: 1px dashed #fff;
    padding-bottom: 3px;
}

.tab-active{
    background-color: rgb(231, 231, 235);
    color: #333;
}

.tab-content-active{
    display: block;
}



.banner h2{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    color: #333;
}

.banner p{
    background-color: rgb(231, 231, 235);
    height: 153px;
    font-size: 14px;
    color: #333;
    padding: 15px 15px;
}
.quick-link{
    background-color: rgb(255, 229, 181);
}

.footer-wrap{
    height: 100px;
}

footer{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

.f-menu{
    display: flex;
    margin-bottom: 10px;
}

.f-menu li{
    padding: 0 20px;
    border-right: 1px solid #333;
}

.f-menu li:last-child{
    border: none;
}

.copyright{
    padding-left: 20px;;
}

.popup-container{
    display: none;
    width: 400px;
    height: 500px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.801);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #868686;
}

.popup-container img{
    margin: 30px 0 ;
}

.popup-container h2{
    margin: 20px 0;
}

.popup-container .button-wrap{
    text-align: end;
}

.popup-container button{
    border: none;
    padding: 7px;
}